<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="WEASLEYS' WIZARD WHEEZES"
    Language="1049"
    Version="1.0.0.0"
    Manufacturer="D. M. Grabovetskaya"
    UpgradeCode="8F0D4C7A-72F7-4B7F-9B0C-FA45C1D91E30">

    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Description="Installer for WEASLEYS' WIZARD WHEEZES educational web project" />

    <MajorUpgrade DowngradeErrorMessage="На компьютере уже установлена более новая версия WEASLEYS' WIZARD WHEEZES." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Weasleys Wizard Wheezes" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="WEASLEYS WIZARD WHEEZES">
          <Component Id="StartMenuShortcutComponent" Guid="E2A4C979-A35D-44D0-A6C1-E0663D9B6B7A">
            <Shortcut
              Id="StartMenuShortcut"
              Name="WEASLEYS WIZARD WHEEZES"
              Description="Открыть учебный сайт WEASLEYS' WIZARD WHEEZES"
              Target="[INSTALLFOLDER]index.html"
              WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue
              Root="HKCU"
              Key="Software\WEASLEYS WIZARD WHEEZES"
              Name="StartMenuShortcutInstalled"
              Type="integer"
              Value="1"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcutComponent" Guid="54C07BA7-BA3B-43D1-9D67-FD904E4C4240">
          <Shortcut
            Id="DesktopShortcut"
            Name="WEASLEYS WIZARD WHEEZES"
            Description="Открыть учебный сайт WEASLEYS' WIZARD WHEEZES"
            Target="[INSTALLFOLDER]index.html"
            WorkingDirectory="INSTALLFOLDER" />
          <RegistryValue
            Root="HKCU"
            Key="Software\WEASLEYS WIZARD WHEEZES"
            Name="DesktopShortcutInstalled"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="WEASLEYS' WIZARD WHEEZES" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Product>
</Wix>
